.node{
    display: flex;
    border: 3px solid; 
    border-radius: 50%;
    width: 35px;
    height: 35px;
    align-items: center;
    justify-content: center;
    border-color: red;
  }
.container{
  display: flex;
  flex-direction: column;
}